<!-- diet-tab-section -->
<section class="ttm-row diet-tab-section clearfix">
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <!-- section title -->
        <div class="section-title text-center clearfix">
          <div class="title-header">
            <h5>What We Offers</h5>
            <h2 class="title">Nutrition Dishes</h2>
          </div>
          <div class="title-desc">
            <p>
              Each meal is a building block in our healthy eating style. Use our Checklist <br> and the tips below to meet your daily needs.
            </p>
          </div>
        </div><!-- section title end -->
      </div>
    </div><!-- row end -->
    <div class="row tab-row">
      <div class="col-md-12">
        <div class="ttm-tabs ttm-tabs-style-classic ttm-tabs-bgcolor-grey">
          <ul class="tabs">
            <li class="tab active"><a href="#"><i class="fa fa-gift"></i><span>Monday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Tuesday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Wednesday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Thrusday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Friday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Saturday</span></a></li>
          </ul>

          <div class="content-tab">
            
              <app-daily-program-list>
                
              </app-daily-program-list>

            
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- diet-tab-section end -->
