<div>
  <div class="card" style="height: 150px; width: 400px">
    <div class="additional">
      <div class="user-card">
        <div class="points center" style="margin-top: 0px">
          {{calories}} calories
        </div>
        <img src="{{photo}}"  class="center" style="margin-top: -20px;border-radius: 50%;width : 110px; height : 110px" alt="Avatar"/>
      </div>
      <div class="more-info">
        <h3 style="font-family: Lato; margin-left: 23px">{{name}}</h3>
        <div class="coords">
          <span>Program Name</span>
        </div>
        <div class="coords">
          <span>{{time}}</span>
        </div>
      </div>
    </div>
    <div class="general" style="padding-bottom: -20px">
      <h3 style="font-family: Lato; margin-left: 60px">{{name}}</h3>
      <p style="margin-left: 50px">{{description}}</p>
    </div>
  </div>
</div>
