
<div id="content" class="bg">
  <div class="resume">
    <div class="container">

      <!-- TOP HEAD -->
      <div class="top-head">
        <div class="row">
          <div class="col-sm-6">
            <h4>Informations </h4>
            <a class="ttm-btn ttm-btn-size-xs ttm-btn-shape-square ttm-btn-style-fill ttm-icon-btn-right ttm-btn-bgcolor-skincolor" routerLink="/espace/client/update/informations/{{id}}" title="" style="color: white">EDIT <i class="fa fa-user"></i></a>
          </div>
        </div>
      </div>

      <!-- Resume -->
      <div class="row">

        <!-- Sidebar -->
        <div class="col-md-4">
          <div class="side-bar">

            <!-- Professional Details -->
            <h5 class="tittle">Professional Details</h5>
            <img src="{{client.photo}}" class="img-responsive" alt="">
            <ul class="personal-info">
              <li>
                <p> <span> Name</span> {{client.name}} {{client.lastname}} </p>
              </li>
              <li>
                <p> <span> Age</span> {{client.age}} Years </p>
              </li>
              <li>
                <p> <span> Sexe</span> {{client.sex}} </p>
              </li>
              <li>
                <p> <span> Weight</span> {{client.currentWeight}} Kg </p>
              </li>
              <li>
                <p> <span> Height</span> {{client.height}} cm </p>
              </li>
              <li>
                <p> <span> E-mail</span> <a href="#."> {{client.email}}</a> </p>
              </li>
            </ul>


            <!-- Social Profiles -->
            <h5 class="tittle">Social Profiles</h5>
            <div class="social-icon bor-btm padding-25">
              <ul>
                <li> <a href="#."> <i class="fa fa-facebook"></i></a> </li>
                <li> <a href="#."> <i class="fa fa-google"></i></a> </li>
                <li> <a href="#."> <i class="fa fa-twitter"></i></a> </li>
                <li> <a href="#."> <i class="fa fa-linkedin"></i></a> </li>
                <li> <a href="#."> <i class="fa fa-skype"></i></a> </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-8"style="padding-left:100px;" >
          <div class="tab-content">

            <!-- ABOUT ME -->
            <div role="tabpanel" id="about-me">
              <div class="inside-sec">
                <!-- BIO AND SKILLS -->
                <h5 class="tittle">About Me</h5>

                <!-- Blog -->
                <section class="about-me padding-top-10">

                  <!-- Personal Info -->
                  <ul class="personal-info">
                    <li>
                      <p> <span> Name</span> {{client.name}} {{client.lastname}} </p>
                    </li>
                    <li>
                      <p> <span> E-mail</span> <a href="#."> {{client.email}}</a> </p>
                    </li>
                    <li>
                      <p> <span> Age</span> {{client.age}} Years </p>
                    </li>
                    <li>
                      <p> <span> Sexe</span> {{client.sex}} </p>
                    </li>
                    <li>
                      <p> <span> Weight</span> {{client.currentWeight}} Kg </p>
                    </li>
                    <li>
                      <p> <span> Desired Weight</span> {{client.desiredWeight}} Kg </p>
                    </li>
                    <li>
                      <p> <span> Silouhette</span> {{client.silhouette}} </p>
                    </li>
                    <li>
                      <p> <span> Frame</span> {{client.frame}} </p>
                    </li>
                    <li>
                      <p> <span> Fat Distribution</span> {{client.fatDistribution}} </p>
                    </li>
                    <li>
                      <p> <span> Height</span> {{client.height}} cm </p>
                    </li>

                  </ul>
                  <!-- Services -->
                  <h5 class="tittle">My Cyrrent Program</h5>
                  <div class="row padding-20 margin-top-50" *ngIf="program">

                    <div class="col-md-4">
                      <!-- featured-imagebox -->
                      <div class="featured-imagebox featured-imagebox-team  ttm-box-view-top-image ttm-team-box-view-overlay box-shadow1 mb-30">
                        <div class="featured-imagebox-team-inner">
                          <div class="featured-thumbnail"><!-- team-member-image -->
                            <img class="img-fluid" src="data:image/jpeg;base64,{{program?.backgroundImage}}" alt="">
                          </div>
                          <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                              <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="Pilates Exercises" routerLink="/wlprogram/{{program.id}}" data-rel="prettyPhoto">
                                <i class="ti ti-search"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="ttm-box-bottom-content">
                          <p class="category">rating: {{program?.rating}}</p><!-- team-member-category -->
                          <div class="featured-title"><!-- team-member-name -->
                            <h5><a routerLink="/wlprogram/{{program?.id}}">{{program?.name}}</a></h5>
                          </div>
                        </div>
                      </div><!-- featured-imagebox end-->
                    </div>
                  </div>
                  <h5 class="tittle">My Old Programs</h5>
                  <div class="row padding-20 margin-top-50" *ngIf="olds">

                    <div class="col-md-4" *ngFor="let old of olds;let i = index">
                      <!-- featured-imagebox -->
                      <div class="featured-imagebox featured-imagebox-team  ttm-box-view-top-image ttm-team-box-view-overlay box-shadow1 mb-30">
                        <div class="featured-imagebox-team-inner">
                          <div class="featured-thumbnail"><!-- team-member-image -->
                            <img class="img-fluid" src="data:image/jpeg;base64,{{old?.backgroundImage}}" alt="">
                          </div>
                          <div class="ttm-box-view-overlay">
                            <div class="featured-iconbox ttm-media-link">
                              <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="Pilates Exercises" routerLink="/wlprogram/{{old.id}}" data-rel="prettyPhoto">
                                <i class="ti ti-search"></i>
                              </a>
                              <a (click)="clicked(i)" class="ttm_link"><i class="ti ti-star"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="ttm-box-bottom-content">
                          <p class="category">rating: {{old?.rating}}</p><!-- team-member-category -->
                          <div class="featured-title"><!-- team-member-name -->
                            <h5><a routerLink="/wlprogram/{{old?.id}}">{{old?.name}}</a></h5>
                          </div>
                          <div *ngIf="this.olds2[i] == true" >
                          <ul class="list-inline rating-list" *ngFor="let star of stars" [style.display]=display >
                            <li (click)="countStar(star, i)" [ngClass]="{'selected': (star <= selectedValue)}"><i   class="fa fa-star "></i></li>
                          </ul>
                          </div>
                        </div>
                      </div><!-- featured-imagebox end-->
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



