<!--<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="name">Your name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="form.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Your last name</label>
        <input type="text" class="form-control" id="lastName" name="name" [(ngModel)]="form.lastname" #lastname="ngModel" required />
        <div *ngIf="f.submitted && lastname.invalid">
          <div *ngIf="lastname.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username" #username="ngModel"
               required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template> -->


<div *ngIf="isSubmitted">
  <h4>Details submitted successfully</h4>
</div>
<div *ngIf="!isSubmitted">
  <div class="ttm-page-title-row">
    <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="title-box ttm-textcolor-white" >
            <div class="page-title-heading ttm-textcolor-white">
              <h1 class="title">Coach sign up</h1>
            </div><!-- /.page-title-captions -->
            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i> Home </a>
                                </span>
              <span class="ttm-bread-sep"> &nbsp;</span>
              <span><span class="ttm-textcolor-skincolor"></span></span>
            </div>
          </div>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
  <form [formGroup]="appraisalFormGroup">
    <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" formArrayName="appraisalForm" [linear]="true">

      <mat-step formGroupName="0" [stepControl]="appraisalForm?.get([0])">
        <ng-template matStepLabel>Personal Details</ng-template>
        <div class="container" style="margin: auto; width: 50%">
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field appearance="outline" style="width: 100%" >
                <mat-label>First Name</mat-label>
                <input class="form-style" type="text" matInput formControlName="firstname"  required >
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Last Name</mat-label>
                <input class="form-style" type="text" #addr matInput formControlName="lastname" required >
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Email</mat-label>
                <input class="form-style" type="email" #addr matInput formControlName="email" required >
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Username</mat-label>
                <input class="form-style" type="text" #addr matInput formControlName="username" required >
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Password</mat-label>
                <input class="form-style" type="password" #addr matInput formControlName="password" required >
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 offset-lg-9">
              <button  class="btn btn-success" mat-button matStepperNext (click)="check()">Next</button>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="appraisalForm?.get([1])">
        <ng-template matStepLabel>
          <div>Coach Details</div>
        </ng-template>
        <div class="container" style="margin: auto; width: 50%">
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Age</mat-label>
                <input type="number" matInput formControlName="age" style="border: none" required>
                <!--<mat-error>Required</mat-error>-->
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Experience</mat-label>
                <input type="number" matInput formControlName="experience" style="border: none" required>
                <!--<mat-error>Required</mat-error>-->
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Phone</mat-label>
                <input type="number" matInput formControlName="phone" style="border: none" >
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field appearance="outline" style="width: 100%">
                <!--<mat-label>Photo</mat-label>
                <input matInput formControlName="photo" >-->
                <ngx-mat-file-input (change)="onChangeFile($event)" #removableInput formControlName="photo" placeholder="photo"></ngx-mat-file-input>
                <mat-icon matSuffix *ngIf="removableInput.empty">folder</mat-icon>
                <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Speciality</mat-label>
                <input matInput formControlName="speciality" required>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Resume</mat-label>
                <textarea matInput formControlName="resume"  rows="6">please write down your resume </textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 offset-lg-9">
              <button class="btn btn-success" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-success" mat-button matStepperNext>Next</button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="container">
          <div class="row  offset-lg-4">
            <div class="col-lg-12">
              <h4>Following details submitted, please confirm and hit submit</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Name: </h4>
            </div>
            <div class="col-lg-9">
              <h6>{{appraisalForm?.get([0]).get('firstname').value}} {{appraisalForm?.get([0]).get('lastname').value}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Email: </h4>
            </div>
            <div class="col-lg-9">
              <h6>{{appraisalForm?.get([0]).get('email').value}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Username: </h4>
            </div>
            <div class="col-lg-9">
              <h6>{{appraisalForm?.get([0]).get('username').value}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Age: </h4>
            </div>
            <div class="col-lg-9">
              <h6>{{appraisalForm?.get([1]).get('age').value}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Experience: </h4>
            </div>
            <div class="col-lg-9">
              <h6>{{appraisalForm?.get([1]).get('experience').value}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Phone: </h4>
            </div>
            <div class="col-lg-9">
              <h6>{{appraisalForm?.get([1]).get('phone').value}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Photo: </h4>
            </div>
            <div class="col-lg-9">
              <img [src]="photo">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Resume: </h4>
            </div>
            <div class="col-lg-9">
              <h6>{{appraisalForm?.get([1]).get('resume').value}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <h4>Speciality: </h4>
            </div>
            <div class="col-lg-9">
              <h6>{{appraisalForm?.get([1]).get('speciality').value}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col offset-lg-9">
              <button class="btn btn-success" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-success" mat-button (click)="linearHorizontalStepper.reset()">Reset</button>
              <button class="btn btn-success" mat-button (click)="onSubmit()">Submit</button>
            </div>
          </div>
        </div>

      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
