<div class="row d-block">
  <div class="col-lg-9 content-area">
    <!-- ttm-service-single-content-are -->
    <div class="ttm-service-single-content-area">
      <div class="ttm_single_image-wrapper mb-25">
        <img class="img-fluid" src="../../../../assets/images/portfolio/post-five.jpg" alt="">
      </div>
      <div class="ttm-service-description">
        <h4 class="font-27 line-h40">Sport Nutrition Program</h4>
        <div class="mb-35">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="separator">
        <div class="sep-line mt_5 mb-35"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="ttm_single_image-wrapper mb-35">
            <img class="img-fluid" src="../../../../assets/images/portfolio/post-seven.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="ttm-service-description">
            <h4 class="font-27 pb-10 line-h35">Planning and Prep</h4>
            <P>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu doloremque laudantium, totam rem aperiam, eaque.</P>
          </div>
          <ul class="ttm-list ttm-list-style-icon mb-20">
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Cooking Tips and Trends</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Snack and Meal Ideas</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Vegetarian and Special Diets</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Nutrition Facts and Food Labels</span></li>
          </ul>
        </div>
      </div>
      <div class="separator">
        <div class="sep-line mt_5 mb-35"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="ttm_single_image-wrapper mb-35">
            <img class="img-fluid" src="../../../../assets/images/portfolio/post-seven.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="ttm-service-description">
            <h4 class="font-27 pb-10 line-h35">Vitamins and Supplements</h4>
            <P>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu doloremque laudantium, totam rem aperiam, eaque.</P>
          </div>
          <ul class="ttm-list ttm-list-style-icon mb-20">
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Cooking Tips and Trends</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Snack and Meal Ideas</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Vegetarian and Special Diets</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Nutrition Facts and Food Labels</span></li>
          </ul>
        </div>
      </div>
      <div class="separator">
        <div class="sep-line mt_5 mb-35"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="ttm_single_image-wrapper mb-35">
            <img class="img-fluid" src="../../../../assets/images/portfolio/post-eight.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="ttm-service-description">
            <h4 class="font-27 pb-10 line-h35">Resources</h4>
            <P>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu doloremque laudantium, totam rem aperiam, eaque.</P>
          </div>
          <ul class="ttm-list ttm-list-style-icon mb-20">
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Cooking Tips and Trends</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Snack and Meal Ideas</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Vegetarian and Special Diets</span></li>
            <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Nutrition Facts and Food Labels</span></li>
          </ul>
        </div>
      </div>
    </div><!-- ttm-service-single-content-are end -->
  </div>
