<section class="ttm-row meal-plan-top-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="res-991-mb-50">
          <!-- ttm_single_image-wrapper -->
          <div class="ttm_single_image-wrapper res-991-mt-60">
            <div class="text-left pattern-style position-relative">
              <img class="img-fluid width-100" src="{{program.backgroundImage}}" alt="" style="height: 500px;">
            </div>
          </div><!-- ttm_single_image-wrapper end -->
          <div class="about-overlay-shape">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10 text-center">
                <div class="about-content ttm-col-bgcolor-yes ttm-bg ttm-bgcolor-skincolor spacing-8 ttm-textcolor-white mt_109">
                  <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                  <div class="layer-content">
                    <h4 class="mb-15">{{program.objectifs}}</h4>
                  </div>
                </div><!-- ttm_single_image-wrapper end -->
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="">
          <!-- section title -->
          <div class="section-title clearfix">
            <div class="title-header">
              <h5>Your program</h5>
              <h2 class="title">{{program.name}}</h2>
            </div>
            <div class="title-desc">
              <p>{{program.description}}</p>
            </div>
            <h5>You can find in this page</h5>
          </div><!-- section title end -->
          <!-- row-->
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <!-- static-box -->
              <div class="ttm-static-box-wrapper ttm-feature-plans mb-20">
                <div class="ttm-featureplan-image">
                  <div class="ttm_single_image-wrapper"><!-- static-box-img -->
                    <div class="">
                      <img class="img-fluid" src="../../../../assets/images/blog/08.jpg" alt="" style="height: 231px;">
                    </div>
                  </div>
                </div>
                <div class="ttm-static-box-content"><!-- static-box-content -->
                  <h5>Daily workouts</h5>
                </div>
              </div><!-- static-box end -->
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- static-box -->
              <div class="ttm-static-box-wrapper ttm-feature-plans mb-20">
                <div class="ttm-featureplan-image">
                  <div class="ttm_single_image-wrapper"><!-- static-box-img -->
                    <div class="">
                      <img class="img-fluid" src="../../../../assets/images/single-img-twentyone.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="ttm-static-box-content"><!-- static-box-content -->
                  <h5>Daily meals</h5>
                </div>
              </div><!-- static-box end -->
            </div>
          </div><!-- row end-->
        </div>
      </div>
    </div><!-- row end -->
  </div>
</section>
<!--meal-plan-top-section end-->
