<div style="background-color:white;  -moz-box-shadow:    3px 3px 5px 6px #ccc;-webkit-box-shadow: 3px 3px 5px 6px #ccc;box-shadow:3px 3px 5px 6px #ccc; padding:2em;margin:1em">
  <form [formGroup]="myForm">
    <div class="row">
      <div class="col-9 col-md-9">
        <label for="name" class="myLabel">Name: </label>
        <input type="text" id="name" class="form-control" formControlName="name" />
      </div>
      <div class="col-3 col-md-3">
        <label for="type" class="myLabel">Type:  </label>
        <select class="custom-select mr-sm-2" formControlName="type" id="type">
          <option selected>BreakFast</option>
          <option value="1">Lunch</option>
          <option value="2">Dinner</option>
          <option value="3">Snack</option>
        </select>
      </div>
    </div>
   <hr class="myHr">
    <div class="row">
      <div class="col-9 col-md-9">
        <label for="description" class="myLabel">Description: </label>
        <input type="text" id="description" class="form-control" formControlName="description" />
      </div>
      <div class="col-3 col-md-3">
        <label for="photo" class="myLabel">Photo</label>
        <input type="file" class="form-control-file" id="photo" formControlName="photo">
      </div>
    </div>
    <hr class="myHr">
    <div class="row">
      <div class="col-4 col-md-4">
        <label for="caloricValue" class="myLabel1">Caloric Value: </label>
        <input type="number" id="caloricValue" class="form-control" formControlName="caloricValue" style="width:80%;display:inline-block" /><span class="myLabel1" style="display:inline-block">:  kCal</span>
      </div>
      <div class="col-4 col-md-4">
        <label for="time" class="myLabel1">Time: </label>
        <input type="time" id="time" class="form-control" formControlName="time" style="width:80%" />
      </div>
      <div class="col-4 col-md-4">
        <label for="preparationTime" class="myLabel1">Preparation Time: </label>
        <input type="number" id="preparationTime" class="form-control" formControlName="preparationTime" style="width:60%;display:inline-block" /> <span class="myLabel1" style="display:inline-block">:  Minutes</span>
      </div>
    </div>
    <hr class="myHr">
    <div class="row">
      <div class="col-6 col-md-6">
        <div formArrayName="ingredients">
          <label class="myLabel">Ingredients</label>
          <div *ngFor="let ingredient of ingredientForms.controls; let i=index"
               [formGroupName]="i" style="border-right:1px solid grey;height:100%">
            <label class="myLabel2">{{i}}-</label>
            <input type="text" class="form-control" formControlName="ingredient" style="display:inline-block;width:70%;margin-bottom:1em;margin-right:1em;margin-left:1em" />
            <button class="btn btn-danger btn-sm" (click)="deleteIngredient(i)" style="display:inline-block;margin-bottom:1em">Delete</button>
          </div>
          <button class="btn btn-success" (click)="addIngredient()">Add Ingredient</button>
        </div>
       
      </div>
      
      <div class="col-6 col-md-6">
        <label class="myLabel">Directions</label>
        <textarea cols="20" rows="4" formControlName="recipe"></textarea>
      </div>
    </div>
    <button class="btn btn-primary" (click)="submitFormMeal()" style="margin-top:1em">Submit</button>
  </form>
</div>
