
<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">
  <!-- START REVOLUTION SLIDER 5.4.8 auto mode -->

  <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" data-version="5.4.8.1">

    <ul>
      <li data-index="rs-13" data-transition="slotslide-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

        <img src="../../../assets/images/slides/slider-mainbg-001.jpg" alt="" title="mainslider-bg003" width="1920" height="760" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme ttm-bgcolor-skincolor" id="slide-1-layer-1" data-x="['left','left','left','left']" data-hoffset="['50','50','-240','-240']" data-y="['top','top','top','top']" data-voffset="['182','182','179','179']"

             data-width="40"
             data-height="['2','2','1','1']"
             data-whitespace="nowrap"
             data-visibility="['on','on','off','off']"
             data-type="shape"
             data-responsive_offset="on"
             data-frames='[{"delay":130,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        ></div>

        <div class="tp-caption tp-resizeme" id="slide-1-layer-2" data-x="['left','left','center','center']" data-hoffset="['107','107','0','0']" data-y="['top','top','middle','middle']" data-voffset="['173','173','-135','-112']"

             data-fontsize="['16','16','15','14']"
             data-lineheight="['20','20','15','14']"
             data-fontweight="['700','700','700','700']"
             data-color="['rgb(157, 202, 0)','rgb(157, 202, 0)','rgb(157, 202, 0)','rgb(157, 202, 0)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":220,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Welcome to Nutricare
        </div>

        <div class="tp-caption main-font tp-resizeme" id="slide-1-layer-3" data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['top','top','middle','middle']" data-voffset="['210','210','-78','-69']"

             data-fontsize="['60','60','55','40']"
             data-lineheight="['75','75','68','50']"
             data-fontweight="['400','400','400','300']"
             data-color="['rgb(38,45,51)','rgb(38,45,51)','rgb(27,37,44)','rgb(27,37,44)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":340,"speed":800,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Nourishing With</div>

        <div class="tp-caption main-font" id="slide-1-layer-4" data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['top','top','middle','middle']" data-voffset="['292','292','-7','-10']"

             data-fontsize="['60','60','55','40']"
             data-lineheight="['75','75','68','50']"
             data-fontweight="['400','400','400','300']"
             data-color="['rgb(38,45,51)','rgb(38,45,51)','rgb(27,37,44)','rgb(27,37,44)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":520,"speed":800,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Healthy <strong class="ttm-textcolor-skincolor">Food</strong> Choices
        </div>

        <div class="tp-caption tp-shape tp-shapewrapper ttm-bgcolor-skincolor tp-resizeme" id="slide-1-layer-5" data-x="['left','left','left','left']" data-hoffset="['292','292','319','189']" data-y="['top','top','top','top']" data-voffset="['358','358','244','187']"

             data-width="['150','150','140','100']"
             data-height="3"
             data-whitespace="nowrap"
             data-type="shape"
             data-responsive_offset="on"
             data-frames='[{"delay":990,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        ></div>

        <div class="tp-caption tp-resizeme" id="slide-1-layer-6" data-x="['left','left','center','center']" data-hoffset="['50','50','-759','-479']" data-y="['top','top','middle','middle']" data-voffset="['379','379','10','-2']"

             data-fontsize="['18','18','15','12']"
             data-lineheight="['29','29','24','20']"
             data-fontweight="['400','400','400','300']"
             data-color="['rgb(111,120,126)','rgb(111,120,126)','rgb(114,118,120)','rgb(114,118,120)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-visibility="['on','on','off','off']"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":870,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Nutrition Services is dedicated to bringing you and your family healthy, <br>delicious food options whenever you're at one of our locations.
        </div>

        <a class="tp-caption button black-button tp-resizeme" href="#" target="_self" id="slide-1-layer-7" data-x="['left','left','center','center']" data-hoffset="['48','48','0','0']" data-y="['top','top','middle','middle']" data-voffset="['485','485','117','106']"

           data-fontsize="['15','15','13','13']"
           data-lineheight="['15','15','13','13']"
           data-width="none"
           data-height="none"
           data-whitespace="nowrap"
           data-type="text"
           data-actions=''
           data-responsive_offset="on"
           data-frames='[{"delay":1000,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
           data-textAlign="['inherit','inherit','inherit','inherit']"
           data-paddingtop="[15,15,12,12]"
           data-paddingright="[35,35,20,20]"
           data-paddingbottom="[15,15,12,12]"
           data-paddingleft="[35,35,20,20]"
        >Read More</a>

        <a class="tp-caption button skin-button tp-resizeme" href="#" target="_self" id="slide-1-layer-8" data-x="['left','left','center','center']" data-hoffset="['213','213','0','0']" data-y="['top','top','middle','middle']" data-voffset="['485','485','64','53']"

           data-fontsize="['16','16','13','13']"
           data-lineheight="['16','16','13','13']"
           data-width="none"
           data-height="none"
           data-whitespace="nowrap"
           data-type="text"
           data-actions=''
           data-responsive_offset="on"
           data-frames='[{"delay":1110,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
           data-textAlign="['inherit','inherit','inherit','inherit']"
           data-paddingtop="[15,15,12,12]"
           data-paddingright="[35,35,30,30]"
           data-paddingbottom="[15,15,12,12]"
           data-paddingleft="[35,35,30,30]"
        >Conatct Us </a>
      </li>

      <li data-index="rs-12" data-transition="slotslide-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

        <img src="../../../assets/images/slides/slider-mainbg-002.jpg" alt="" title="mainslider-bg002" width="1920" height="760" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <div class="tp-caption tp-shape tp-shapewrapper ttm-bgcolor-skincolor tp-resizeme" id="slide-2-layer-1" data-x="['center','center','left','left']" data-hoffset="['12','-68','-240','-240']" data-y="['top','top','top','top']" data-voffset="['182','182','179','179']"

             data-fontweight="['700','700','500','500']"
             data-width="40"
             data-height="['2','2','1','1']"
             data-whitespace="nowrap"
             data-visibility="['on','on','off','off']"
             data-type="shape"
             data-responsive_offset="on"
             data-frames='[{"delay":130,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        ></div>

        <div class="tp-caption tp-resizeme" id="slide-2-layer-2" data-x="['center','center','center','center']" data-hoffset="['109','29','0','0']" data-y="['top','top','middle','middle']" data-voffset="['173','173','-135','-112']"

             data-fontsize="['16','16','15','14']"
             data-lineheight="['20','20','15','14']"
             data-fontweight="['700','700','700','700']"
             data-color="['rgb(157, 202, 0)','rgb(157, 202, 0)','rgb(157, 202, 0)','rgb(157, 202, 0)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":220,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        > Get Healty Easily </div>

        <div class="tp-caption tp-resizeme main-font" id="slide-2-layer-3" data-x="['center','center','center','center']" data-hoffset="['182','102','0','0']" data-y="['top','top','middle','middle']" data-voffset="['214','214','-78','-69']"

             data-fontsize="['60','60','55','40']"
             data-lineheight="['68','68','68','50']"
             data-color="['rgb(38,45,51)','rgb(38,45,51)','rgb(27,37,44)','rgb(27,37,44)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":340,"speed":800,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Loss The <strong class="ttm-textcolor-skincolor">Fat!</strong>
        </div>

        <div class="tp-caption tp-shape tp-shapewrapper ttm-bgcolor-skincolor tp-resizeme" id="slide-2-layer-4" data-x="['left','left','left','left']" data-hoffset="['888','703','468','296']" data-y="['top','top','top','top']" data-voffset="['279','279','172','128']"

             data-width="['100','100','90','70']"
             data-height="3"
             data-whitespace="nowrap"
             data-type="shape"
             data-responsive_offset="on"
             data-frames='[{"delay":850,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        ></div>

        <div class="tp-caption main-font tp-resizeme" id="slide-2-layer-5" data-x="['center','center','center','center']" data-hoffset="['279','199','0','0']" data-y="['top','top','middle','middle']" data-voffset="['298','298','-7','-10']"

             data-fontsize="['60','60','55','40']"
             data-lineheight="['68','68','68','50']"
             data-color="['rgb(38,45,51)','rgb(38,45,51)','rgb(27,37,44)','rgb(27,37,44)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":520,"speed":800,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Eat Right, Be Bright!</div>

        <div class="tp-caption tp-resizeme" id="slide-2-layer-6" data-x="['center','center','center','center']" data-hoffset="['267','187','-759','-479']" data-y="['top','top','middle','middle']" data-voffset="['379','379','10','-2']"

             data-fontsize="['18','18','15','12']"
             data-lineheight="['29','29','24','20']"
             data-fontweight="['400','400','400','300']"
             data-color="['rgb(111,120,126)','rgb(111,120,126)','rgb(114,118,120)','rgb(114,118,120)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-visibility="['on','on','off','off']"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":870,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Nutrition Services is dedicated to bringing you and your family healthy.</div>

        <a class="tp-caption button skin-button tp-resizeme" href="#" target="_self" id="slide-2-layer-7" data-x="['center','center','center','center']" data-hoffset="['66','-14','0','0']" data-y="['top','top','middle','middle']" data-voffset="['451','451','64','53']"

           data-fontsize="['16','16','13','13']"
           data-lineheight="['16','16','13','13']"
           data-width="none"
           data-height="none"
           data-whitespace="nowrap"
           data-type="text"
           data-actions=''
           data-responsive_offset="on"
           data-frames='[{"delay":1000,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
           data-textAlign="['inherit','inherit','inherit','inherit']"
           data-paddingtop="[15,15,12,12]"
           data-paddingright="[35,35,30,30]"
           data-paddingbottom="[15,15,12,12]"
           data-paddingleft="[35,35,30,30]"
        >Conatct Us </a>

        <a class="tp-caption button black-button tp-resizeme" href="#" target="_self" id="slide-2-layer-8" data-x="['center','center','center','center']" data-hoffset="['228','148','0','0']" data-y="['top','top','middle','middle']" data-voffset="['451','451','117','106']"

           data-fontsize="['15','15','13','13']"
           data-lineheight="['15','15','13','13']"
           data-width="none"
           data-height="none"
           data-whitespace="nowrap"
           data-type="text"
           data-actions=''
           data-responsive_offset="on"
           data-frames='[{"delay":1110,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(157,202,0);br:100px 100px 100px 100px;"}]'
           data-textAlign="['inherit','inherit','inherit','inherit']"
           data-paddingtop="[15,15,12,12]"
           data-paddingright="[35,35,20,20]"
           data-paddingbottom="[15,15,12,12]"
           data-paddingleft="[35,35,20,20]"
        >Read More </a>
      </li>

      <li data-index="rs-1" data-transition="slotslide-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

        <img src="../../../assets/images/slides/slider-mainbg-003.jpg" alt="" title="Home 1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <div class="tp-caption tp-shape tp-shapewrapper ttm-bgcolor-skincolor tp-resizeme" id="slide-3-layer-1" data-x="['left','left','left','left']" data-hoffset="['50','50','-240','-240']" data-y="['top','top','top','top']" data-voffset="['182','182','179','179']"

             data-width="40"
             data-height="['2','2','1','1']"
             data-whitespace="nowrap"
             data-visibility="['on','on','off','off']"
             data-type="shape"
             data-responsive_offset="on"
             data-frames='[{"delay":130,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        ></div>

        <div class="tp-caption tp-resizeme" id="slide-3-layer-2" data-x="['left','left','center','center']" data-hoffset="['107','107','0','0']" data-y="['top','top','middle','middle']" data-voffset="['173','173','-135','-112']"

             data-fontsize="['16','16','15','14']"
             data-lineheight="['20','20','15','14']"
             data-fontweight="['700','700','700','700']"
             data-color="['rgb(157, 202, 0)','rgb(157, 202, 0)','rgb(157, 202, 0)','rgb(157, 202, 0)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":220,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >It's not a diet, It's a lifestyle
        </div>

        <div class="tp-caption main-font tp-resizeme" id="slide-3-layer-3" data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['top','top','middle','middle']" data-voffset="['214','214','-78','-69']"

             data-fontsize="['60','60','55','40']"
             data-lineheight="['68','68','68','50']"
             data-color="['rgb(38,45,51)','rgb(38,45,51)','rgb(27,37,44)','rgb(27,37,44)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":340,"speed":800,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Healthier <strong class="ttm-textcolor-skincolor">Choices</strong></div>

        <div class="tp-caption tp-shape tp-shapewrapper ttm-bgcolor-skincolor tp-resizeme" id="slide-3-layer-4" data-x="['left','left','left','left']" data-hoffset="['348','348','423','262']" data-y="['top','top','top','top']" data-voffset="['279','279','172','128']"

             data-width="['220','220','200','150']"
             data-height="3"
             data-whitespace="nowrap"
             data-type="shape"
             data-responsive_offset="on"
             data-frames='[{"delay":850,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        ></div>

        <div class="tp-caption main-font tp-resizeme" id="slide-3-layer-5" data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['top','top','middle','middle']" data-voffset="['298','298','-7','-10']"

             data-fontsize="['60','60','55','40']"
             data-lineheight="['68','68','68','50']"
             data-color="['rgb(38,45,51)','rgb(38,45,51)','rgb(27,37,44)','rgb(27,37,44)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":520,"speed":800,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >For a Healthier You.</div>

        <div class="tp-caption tp-resizeme" id="slide-3-layer-6" data-x="['left','left','center','center']" data-hoffset="['50','50','-759','-479']" data-y="['top','top','middle','middle']" data-voffset="['379','379','10','-2']"

             data-fontsize="['18','18','15','12']"
             data-lineheight="['29','29','24','20']"
             data-fontweight="['400','400','400','300']"
             data-color="['rgb(111,120,126)','rgb(111,120,126)','rgb(114,118,120)','rgb(114,118,120)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-visibility="['on','on','off','off']"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"delay":870,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-textAlign="['inherit','inherit','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
        >Nutrition Services is dedicated to bringing you and your family healthy, <br>delicious food options whenever you're at one of our locations.</div>

        <a class="tp-caption button skin-button tp-resizeme" href="#" target="_self" id="slide-3-layer-7" data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['top','top','middle','middle']" data-voffset="['485','485','64','53']"

           data-fontsize="['16','16','13','13']"
           data-lineheight="['16','16','13','13']"
           data-width="none"
           data-height="none"
           data-whitespace="nowrap"
           data-type="text"
           data-actions=''
           data-responsive_offset="on"
           data-frames='[{"delay":1000,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
           data-textAlign="['inherit','inherit','inherit','inherit']"
           data-paddingtop="[15,15,12,12]"
           data-paddingright="[35,35,30,30]"
           data-paddingbottom="[15,15,12,12]"
           data-paddingleft="[35,35,30,30]"
        >Conatct Us</a>

        <a class="tp-caption button black-button tp-resizeme" href="#" target="_self" id="slide-3-layer-8" data-x="['left','left','center','center']" data-hoffset="['218','218','0','0']" data-y="['top','top','middle','middle']" data-voffset="['485','485','117','106']"

           data-fontsize="['15','15','13','13']"
           data-lineheight="['15','15','13','13']"
           data-width="none"
           data-height="none"
           data-whitespace="nowrap"
           data-type="text"
           data-actions=''
           data-responsive_offset="on"
           data-frames='[{"delay":1110,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
           data-textAlign="['inherit','inherit','inherit','inherit']"
           data-paddingtop="[15,15,12,12]"
           data-paddingright="[35,35,20,20]"
           data-paddingbottom="[15,15,12,12]"
           data-paddingleft="[35,35,20,20]"
        >View Schedule </a>
      </li>
    </ul>
  </div>
</div>

<div class="site-main">

  <!--row-top-section-->
  <section class="ttm-row row-top-section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mt_60 mlr-15 res-991-m-0 mb-20">
            <div class="row row-equal-height ttm-bgcolor-white box-shadow1">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <!-- featured-icon-box -->
                <div class="featured-icon-box style1 top-icon text-center">
                  <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                    <span class="flaticon flaticon-care"></span>
                  </div>
                  <div class="featured-content">
                    <div class="featured-title">
                      <h5>Top Rated</h5>
                    </div>
                    <div class="featured-desc">
                      <p>With so many choices of the food-diet advisory out there, we’re at top-rated cause of homely services.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-black btn-inline mb-10 ttm-btn-underline" href="#">View More</a>
                    </div>
                  </div>
                </div><!-- featured-icon-box end-->
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 box-shadow1">
                <!-- featured-icon-box -->
                <div class="featured-icon-box style1 top-icon text-center">
                  <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                    <span class="flaticon flaticon-healthy"></span>
                  </div>
                  <div class="featured-content">
                    <div class="featured-title">
                      <h5>Best Quality</h5>
                    </div>
                    <div class="featured-desc">
                      <p>Don’t lose, workout which relevant our human body! We provides best quality services for your body.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-black btn-inline mb-10 ttm-btn-underline" href="#">View More</a>
                    </div>
                  </div>
                </div><!-- featured-icon-box end-->
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <!-- featured-icon-box -->
                <div class="featured-icon-box style1 top-icon text-center">
                  <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                    <span class="flaticon flaticon-healthy-nutrition"></span>
                  </div>
                  <div class="featured-content">
                    <div class="featured-title">
                      <h5>Eat Fresh</h5>
                    </div>
                    <div class="featured-desc">
                      <p>Quality does matter! when we feel good we’re happier, when we are happier and we’re more productive.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-black btn-inline mb-10 ttm-btn-underline" href="#">View More</a>
                    </div>
                  </div>
                </div><!-- featured-icon-box end-->
              </div>
            </div>
          </div>
        </div>
      </div><!-- row end -->
    </div>
  </section>
  <!-- row-top-section end -->

  <!--about-section-->
  <section class="ttm-row about-section ttm-bgcolor-white clearfix">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="mt-40 res-991-mt-0">
            <div class="pr-70 res-991-plr-0">
              <!-- section title -->
              <div class="section-title clearfix mb-10">
                <div class="title-header">
                  <h5>about nutrition</h5>
                  <h2 class="title">Welcome To Health <br> Care Nutrition</h2>
                </div>
                <div class="title-desc">
                  <p>We have been the most trusted “Health care Nutrition” manual for 25 years, and We are proud of our rich history of providing evidence based nutrition resources from Registered Dietitian Nutritionists. We emerged to maintain our reputation in a society which took a long time to be what today we are! NGO for ruler people.</p>
                </div>
              </div><!-- section title end -->

              <a class="ttm-btn ttm-btn-size-sm ttm-icon-btn-right ttm-btn-color-skincolor btn-inline mb-30" href="#">More About <i class="ti ti-angle-double-right"></i></a>
            </div>
            <div class="separator">
              <div class="sep-line mt_5"></div>
            </div>
            <!-- row-->
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <!--featured-icon-box-->
                <div class="featured-icon-box style2 left-icon">
                  <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                    <i class="ti ti-timer"></i>
                  </div>
                  <div class="featured-content">
                    <div class="featured-title">
                      <h5>Ontime at Services</h5>
                    </div>
                  </div>
                </div><!-- featured-icon-box end-->
              </div>
              <div class="col-md-4 col-sm-4">
                <!--featured-icon-box-->
                <div class="featured-icon-box style2 left-icon">
                  <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                    <i class="ti ti-wand"></i>
                  </div>
                  <div class="featured-content">
                    <div class="featured-title">
                      <h5>24/7 Help Services</h5>
                    </div>
                  </div>
                </div><!-- featured-icon-box end-->
              </div>
              <div class="col-md-4 col-sm-4">
                <!--featured-icon-box-->
                <div class="featured-icon-box style2 left-icon">
                  <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                    <i class="ti ti-medall"></i>
                  </div>
                  <div class="featured-content">
                    <div class="featured-title">
                      <h5>Verified Professionals</h5>
                    </div>
                  </div>
                </div><!-- featured-icon-box end-->
              </div>
            </div><!-- row end-->
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <!-- ttm_single_image-wrapper -->
          <div class="ttm_single_image-wrapper res-991-mt-50">
            <div class="text-right ml-30 res-991-ml-0 ">
              <img class="img-fluid" src="../../../assets/images/single-img-one.png" alt="">
            </div>
          </div><!-- ttm_single_image-wrapper end -->
          <!-- ttm-fid -->
          <div class="ttm-fid inside ttm-fid-without-icon ttm-highlight-fid ttm-textcolor-white">
            <h4 class="ttm-fid-inner mb-0">
                                <span   data-appear-animation = "animateDigits"
                                        data-from             = "0"
                                        data-to               = "15"
                                        data-interval         = "2"
                                        data-before           = ""
                                        data-before-style     = "sup"
                                        data-after            = ""
                                        data-after-style      = "sub"
                                >15</span><span class="ml-5">Years</span>
            </h4>
            <div class="ttm-fid-contents text-left ttm-textcolor-white">
              <h3 class="ttm-fid-title">Experience</h3>
            </div>
          </div><!-- ttm-fid end-->
        </div>
      </div><!-- row end -->
    </div>
  </section>
  <!--about-section end-->
  <!-- working-section -->
  <section class="ttm-row team-style2-section clearfix">
    <div class="container">
      <div class="row" ><!-- row -->
        <div class="col-md-6 col-lg-3"*ngFor="let program of programs">
          <!-- featured-imagebox -->
          <div class="featured-imagebox featured-imagebox-team ttm-team-box-view-overlay-style2 mb-30">
            <div class="ttm-box-view-overlay ttm-team-style2-box-view-overlay">
              <div class="featured-thumbnail"><!-- team-member-image -->
                <a routerLink="/wlprogram/{{program.id}}"><img class="img-fluid" src="{{program.backgroundImage}}"  alt=""></a>
                <div class="ttm-social-links-wrapper">
                  <ul class="social-icons list-inline"><!-- team-member-social-links -->
                    <li class="social-facebook"><a target="_blank" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-twitter"><a target="_blank" href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                    <li class="social-linkedin"><a target="_blank" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="featured-content featured-content-team">
              <div class="featured-title"><!-- team-member-name -->
                <h5><a routerLink="/wlprogram/{{program.id}}">{{program.name}}</a></h5>
              </div>
              <div class="ttm-team-position ttm-textcolor-white">{{program.objectifs}}</div><!-- team-member-position -->
            </div>
          </div><!-- featured-imagebox END-->
        </div>

      </div><!-- row end -->
    </div>
  </section>
  <!-- services-section -->
  <section class="ttm-row services-section bg-layer bg-layer-equal-height break-991-colum res-991-mt-0  mt_60 clearfix">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <!-- col-img-img-two -->
          <div class="col-bg-img-two ttm-col-bgimage-yes ttm-bg ttm-left-span">
            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
            </div>
            <div class="layer-content"></div>
          </div><!-- col-img-bg-img-two end-->
          <img src="images/bg-image/col-bgimage-2.jpg" class="ttm-equal-height-image" alt="bg-image">
        </div>
        <div class="col-lg-6 col-md-12">
          <!-- col-bg-img-three -->
          <div class="col-bg-img-three ttm-bg ttm-col-bgimage-yes  ttm-right-span ttm-bgcolor-skincolor spacing-1 z-1">
            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
              <div class="ttm-bg-layer-inner"></div>
            </div><!-- col-bg-img-three -->
            <div class="layer-content">
              <!-- section title -->
              <div class="section-title clearfix">
                <div class="title-header">
                  <h5>WHAT WE DO</h5>
                  <h2 class="title">Why Choose Us</h2>
                </div>
                <div class="title-desc">We handpick the best coaches and health experts from across the country to make sure you get the most personalized health person.</div>
              </div><!-- section title end -->
              <!--featured-icon-box-->
              <div class="featured-icon-box style3 left-icon icon-align-top">
                <div class="featured-icon">
                  <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                    <i class="flaticon flaticon-care-1"></i>
                  </div>
                </div>
                <div class="featured-content">
                  <div class="featured-title">
                    <h5>Nutrition Strategies</h5>
                  </div>
                  <div class="featured-desc">
                    <p>We use 5 different ways to rev up your metabolism so you burn calories. Our main aim to improve healthy eating information & inner strength</p>
                  </div>
                </div>
              </div><!-- featured-icon-box end-->
              <div class="separator">
                <div class="sep-line mt_5 mb-35"></div>
              </div>
              <!--featured-icon-box-->
              <div class="featured-icon-box style3 left-icon icon-align-top">
                <div class="featured-icon">
                  <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                    <i class="flaticon flaticon-healthy-lifestyle-logo"></i>
                  </div>
                </div>
                <div class="featured-content">
                  <div class="featured-title">
                    <h5>Support & Motivation</h5>
                  </div>
                  <div class="featured-desc">
                    <p>Our motivational strategies primarily involve helping clients. Our quotes on perseverance and success to keep our client motivated.</p>
                  </div>
                </div>
              </div><!-- featured-icon-box end-->
            </div>
          </div><!-- about-content end-->
        </div>
      </div><!-- row end -->
    </div>
  </section>
  <div class="site-main">

    <!--team-style2-section-->
    <section class="ttm-row team-style2-section clearfix">
      <div class="container">
        <div class="row" ><!-- row -->
          <div class="col-md-6 col-lg-3"*ngFor="let coach of coaches">
            <!-- featured-imagebox -->
            <div class="featured-imagebox featured-imagebox-team ttm-team-box-view-overlay-style2 mb-30">
              <div class="ttm-box-view-overlay ttm-team-style2-box-view-overlay">
                <div class="featured-thumbnail"><!-- team-member-image -->
                  <a routerLink="{{coach.id}}"><img class="img-fluid" src="{{coach.photo}}" alt=""></a>
                  <div class="ttm-social-links-wrapper">
                    <ul class="social-icons list-inline"><!-- team-member-social-links -->
                      <li class="social-facebook"><a target="_blank" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li class="social-twitter"><a target="_blank" href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                      <li class="social-linkedin"><a target="_blank" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="featured-content featured-content-team">
                <div class="featured-title"><!-- team-member-name -->
                  <h5><a href="team-details.html">{{coach.name}} {{coach.lastname}}</a></h5>
                </div>
                <div class="ttm-team-position ttm-textcolor-white">{{coach.speciality}}</div><!-- team-member-position -->
              </div>
            </div><!-- featured-imagebox END-->
          </div>

        </div><!-- row end -->
      </div>
    </section>
    <!--team-style2-section end-->

  </div><!--site-main end-->
