<div id="content" class="resune-edit">
  <div class="resume">
    <div class="container">

      <!-- TOP HEAD -->
      <div class="top-head">
        <div class="row">
          <div class="col-sm-6">
            <h4  >Resume </h4>
            <a href="#." style="color: #9dca00">Edit Resume</a> </div>
        </div>
      </div>

      <!-- Resume -->
      <form (ngSubmit)="onSubmit(formulaire)" #formulaire= "ngForm">
        <div class="row">

          <!-- Sidebar -->
          <div class="col-md-4">
            <div class="side-bar">

              <!-- Professional Details -->
              <h5 class="tittle">Professional Details</h5>
              <label class="btn-file"> <i class="fa fa-camera"></i> Click to add picture
                <input type="file" style="display: none;">
              </label>

              <ul class="personal-info">
                <li>
                  <p> <span>
                      <input class="form-control" type="text" placeholder="Name" ngModel name="name">
                      </span>
                    <input class="form-control" type="text" placeholder="LASTNAME" ngModel name="lastname">
                  </p>
                </li>
                <li>
                  <p> <span>
                      <input class="form-control" type="text" placeholder="AGE" ngModel name="age">
                      </span>
                    <input class="form-control" type="text" placeholder="WEIGHT" ngModel name="Weight">
                  </p>
                </li>
                <li>
                  <p> <span>
                      <input class="form-control" type="text" placeholder="Height" ngModel name="Height">
                      </span>
                    <input class="form-control" type="text" placeholder="EMAIL" ngModel name="email">
                  </p>
                </li>
              </ul>


              <!-- Social Profiles -->
              <h5 class="tittle">Credentials</h5>
              <div class="social-icon bor-btm padding-25">
                <ul>
                  <li> <i class="fa fa-user" style="background: #9dca00"></i>
                    <input class="form-control" type="text" placeholder="username" ngModel name="username">
                  </li>
                  <li> <i class="fa fa-key" style="background: #9dca00"></i>
                    <input class="form-control" type="text" placeholder="password" ngModel name="password">
                  </li>
                </ul>
              </div>


            </div>
          </div>

          <!-- MAIN CONTENT -->
          <div class="col-md-8" style="padding-left: 80px">
            <div class="inside-sec">
              <!-- BIO AND SKILLS -->
              <h5 class="tittle">BODY CARACTERISTICS</h5>
              <div class="bio-info padding-30">
                <div class="skills margin-top-50">

                  <div class="skill-type-info">

                    <label> Desired Weight
                      <input type="text" class="form-control" placeholder="0" ngModel name="desiredWeight">
                    </label>
                    <label> Frame
                      <input type="text" class="form-control" placeholder="0" ngModel name="Frame">
                    </label>
                    <label> Silouhette
                      <input type="text" class="form-control" placeholder="0" ngModel name="Silouhette">
                    </label>
                    <label> Fat Distibution
                      <input type="text" class="form-control" placeholder="0" ngModel name="Fat Distribution">
                    </label>
                  </div>
                </div>
              </div>
            </div>


            <!-- Save Info -->
            <div class="save-info"> <a routerLink="/espace/coach/informations/{{id}}" class="btn"style="background: #9dca00">Cancel</a> <button type="submit" class="btn"style="background: #9dca00">Save Info</button> </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
