<div class="ttm-page-title-row">
  <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-box ttm-textcolor-white" >
          <div class="page-title-heading ttm-textcolor-white">
            <h1 class="title">My Clients</h1>
          </div><!-- /.page-title-captions -->
          <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i> Home </a>
                                </span>
            <span class="ttm-bread-sep"> &nbsp; : Espace coach : &nbsp; </span>
            <span><span class="ttm-textcolor-skincolor">My Meals</span></span>
          </div>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>

<section class="element-row element-style clearfix mt_40">
  <div class="container">
    <div class="row" style="padding-top: 80px">
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <div class="col-md-3 offset-md-9">
            <div  class="btn btn-outline-danger">Add new Meal</div>
          </div>
        </div>
        <div class="ttm-tabs ttm-tab-style-horizontal clearfix">

          <ul class="tabs clearfix">
            <li class="tab active"><a href="#"><i class="fa fa-cutlery"></i>BREAKFAST</a></li>
            <li class="tab"><a href="#"><i class="fa fa-cutlery"></i>LUNCH</a></li>
            <li class="tab"><a href="#"><i class="fa fa-cutlery"></i>DINNER</a></li>
            <li class="tab"><a href="#"><i class="fa fa-cutlery"></i>SNACK</a></li>
          </ul>
          <div class="content-tab">
            <div class="content-inner">
              <div class="row">
                <div class="col" *ngFor="let meal of breakfasts">
                  <app-meal-card [calories]="meal.caloricValue" [name]="meal.name" [description]="meal.description"
                                 [photo]="meal.photo" [time]="meal.time" [carbKcal]="meal.carbKcal"
                                 [calcium]="meal.calcium" [cholesterol]="meal.cholesterol" [dietLabels]="meal.dietLabels"
                  [energKcal]="meal.energKcal" [fatKcal]="meal.fatKcal" [healthLabels]="meal.healthLabels"
                  [magnesium]="meal.magnesium" [proteinKcal]="meal.protKcal" [sugar]="meal.sugar"
                  [water]="meal.water" [vitE]="meal.vitE"></app-meal-card>
                </div>
                <div class="w-100"></div>
              </div>
              <mat-divider></mat-divider>
            </div>
            <div class="content-inner">
              <div class="row">
                <div class="col" *ngFor="let meal of lunchs">
                  <app-meal-card [calories]="meal.caloricValue" [name]="meal.name" [description]="meal.description"
                                 [photo]="meal.photo" [time]="meal.time" [carbKcal]="meal.carbKcal"
                                 [calcium]="meal.calcium" [cholesterol]="meal.cholesterol" [dietLabels]="meal.dietLabels"
                                 [energKcal]="meal.energKcal" [fatKcal]="meal.fatKcal" [healthLabels]="meal.healthLabels"
                                 [magnesium]="meal.magnesium" [proteinKcal]="meal.protKcal" [sugar]="meal.sugar"
                                 [water]="meal.water" [vitE]="meal.vitE"></app-meal-card>
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
            <div class="content-inner">
            <div class="row">
              <div class="col" *ngFor="let meal of dinners">
                <app-meal-card [calories]="meal.caloricValue" [name]="meal.name" [description]="meal.description"
                               [photo]="meal.photo" [time]="meal.time" [carbKcal]="meal.carbKcal"
                               [calcium]="meal.calcium" [cholesterol]="meal.cholesterol" [dietLabels]="meal.dietLabels"
                               [energKcal]="meal.energKcal" [fatKcal]="meal.fatKcal" [healthLabels]="meal.healthLabels"
                               [magnesium]="meal.magnesium" [proteinKcal]="meal.protKcal" [sugar]="meal.sugar"
                               [water]="meal.water" [vitE]="meal.vitE"></app-meal-card>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
            <div class="content-inner">
              <div class="row">
                <div class="col" *ngFor="let meal of snacks">
                  <app-meal-card [calories]="meal.caloricValue" [name]="meal.name" [description]="meal.description"
                                 [photo]="meal.photo" [time]="meal.time" [carbKcal]="meal.carbKcal"
                                 [calcium]="meal.calcium" [cholesterol]="meal.cholesterol" [dietLabels]="meal.dietLabels"
                                 [energKcal]="meal.energKcal" [fatKcal]="meal.fatKcal" [healthLabels]="meal.healthLabels"
                                 [magnesium]="meal.magnesium" [proteinKcal]="meal.protKcal" [sugar]="meal.sugar"
                                 [water]="meal.water" [vitE]="meal.vitE"></app-meal-card>
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




