

<div style="background-color:white;  -moz-box-shadow:    3px 3px 5px 6px #ccc;-webkit-box-shadow: 3px 3px 5px 6px #ccc;box-shadow:3px 3px 5px 6px #ccc; padding:2em;margin:1em">



  <article class="hrecipe">

    <header class="entry-header">

      <div class="entry-header-inner">
        <h1 class="title recipe-title fn" style="font-family:prata" itemprop="name">{{workout?.name}}</h1>
        <div class="author-byline brief">
          <div class="name-contact">
            <span class="author-name" style="font-size:20px">
              Coach:  {{coachName}}
            </span>
          </div>
        </div>
      </div>
      <figure class="recipe-main-photo thumb-large">
        <div class="ad-wrapper">
          <div class="auto-ad" id="entry-sponsor-logo" style="display: none;" data-skip-amazon="true" data-require-tag-match="true" data-ad-tag="__amazon,__dorado,__egg-guide,__fathers-day-breakfast-brunch,__mothers-day-breakfast-brunch,__quick-breakfast,__video,breakfast,comfort,egg" data-ad-mapping="logo_mapping" data-ad-size="[[120,100], [120,185]]" data-ad-unit="SE_Logo" data-google-query-id="CN3O5vGO1uYCFY3R1QodJq4AfQ"><div id="google_ads_iframe_/11927475/SE_Logo_0__container__" style="border: 0pt currentColor; border-image: none; width: 120px; height: 100px;"></div></div>
        </div>
        <div class="se-pinit-image-container">
          <img class="img-fluid" style="width:50%;height:50%"  src="{{workout?.photo}}" itemprop="image" data-pin-no-hover="true">
        </div>
      </figure>

    </header>
    <div class="recipe-body summary">
      <div class="recipe-introduction" id="entry-text">

        <div class="recipe-introduction-body" itemprop="description">
          <h2 class="title-section" style="display:inline">Description:    </h2>
          <p style="display:inline">{{workout?.description}}</p>


        </div>

      </div>


      <div class="recipe-wrapper">

        <ul class="recipe-about">
          <li><span class="label">Burned Calories: </span><span class="info yield" itemprop="recipeYield">{{workout?.burnedCalories}}</span></li>
          <li>
            <span class="label">Starting Hour</span>
            <span class="info">{{workout?.startingHour}}</span>
          </li>
          <li><span class="label">Duration: </span><span class="info"> {{workout?.duration}} </span></li>

        </ul>

        <div class="recipe-ingredients">
          <h2 class="title-section">Equipments</h2>
          <ul *ngIf="equipments">
            <li class="ingredient" itemprop="ingredients" *ngFor="let ingredient of equipments">{{ingredient}}</li>

          </ul>
        </div><!--/ingredients-->



      </div>


      <button class="btn btn-primary btn-lg" routerLink="/espace/coach/update/workout/{{coachId}}/{{workoutId}}">Update</button>

    </div>

  </article>

</div>
<button class="btn btn-secondary btn-lg" routerLink="/espace/coach/workouts/{{coachId}}">Back</button>





