<app-weekly-program></app-weekly-program>
<script src="assets/assets/js/jquery.min.js"></script>
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.easing.js"></script>
<script src="assets/js/jquery-waypoints.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/jquery.prettyPhoto.js"></script>
<script src="assets/js/numinate.min6959.js?ver=4.9.3"></script>
<script src="assets/js/main.js"></script>
