
<!--<section class="ttm-row team-details-section clearfix">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-4">-->
<!--        <app-sidebar></app-sidebar>-->
<!--      </div>-->
<!--      <div class="col-md-8">-->
<!--        <div class="ttm-team-member-single-content">-->
<!--          <div class="row">-->
<!--            <app-description></app-description>-->
<!--            <app-related-courses></app-related-courses>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<app-login></app-login>
<!--<app-test></app-test> -->
<!--<app-login></app-login> -->
<!--<app-register></app-register> -->
<!--<app-register-client></app-register-client>-->


<!--<app-coach></app-coach>-->



<!--
<app-weekly-program></app-weekly-program> -->
