<div *ngIf="isSubmitted">
  <h4>Details submitted successfully</h4>
</div>
<div *ngIf="!isSubmitted">
  <h3>Coach sign up</h3>
  <form [formGroup]="appraisalFormGroup">
    <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" formArrayName="appraisalForm" [linear]="true">

      <mat-step formGroupName="0" [stepControl]="appraisalForm?.get([0])">
        <ng-template matStepLabel>Personal Details</ng-template>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input type="text"  matInput formControlName="firstname" required >
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" #addr matInput formControlName="lastname" required >
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" #addr matInput formControlName="email" required >
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type="text" #addr matInput formControlName="username" required >
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" #addr matInput formControlName="password" required >
          <mat-error>Required</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="appraisalForm?.get([1])">
        <ng-template matStepLabel>
          <div>Client Details</div>
        </ng-template>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input type="number" matInput formControlName="age" required>
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Current Weight</mat-label>
          <input type="number" matInput formControlName="currentWeight" required>
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Desired Weight</mat-label>
          <input type="number" matInput formControlName="desiredWeight" required>
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Height</mat-label>
          <input type="number" matInput formControlName="height" required>
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Photo</mat-label>
          <input matInput formControlName="photo" >
        </mat-form-field>
        <div>sex</div>
        <input type="radio"  formControlName="sex" value="Homme">male
        <input type="radio"  formControlName="sex" value="Femme">female
        <!--<mat-form-field>
          <mat-label>Sex</mat-label>
          <mat-radio-group formControlName="sex" >
            <mat-radio-button value="Homme">male</mat-radio-button>
            <mat-radio-button value="Femme">female</mat-radio-button>
          </mat-radio-group>
          <input matInput formControlName="sex">
        </mat-form-field> -->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h4>Following details submitted, please confirm and hit submit</h4>
        <br/>Name: {{appraisalForm?.get([0]).get('firstname').value}}
        {{appraisalForm?.get([0]).get('lastname').value}}
        <br/>Email : {{appraisalForm?.get([0]).get('email').value}}
        <br/>Username : {{appraisalForm?.get([0]).get('username').value}}
        <br/>Age :{{appraisalForm?.get([1]).get('age').value}}
        <br/>Current Weight :{{appraisalForm?.get([1]).get('currentWeight').value}}
        <br/>Desired Weight :{{appraisalForm?.get([1]).get('desiredWeight').value}}
        <br/>Photo :{{appraisalForm?.get([1]).get('photo').value}}
        <br/>height :{{appraisalForm?.get([1]).get('height').value}}
        <br/>sex :{{appraisalForm?.get([1]).get('sex').value}}
        <br/>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="linearHorizontalStepper.reset()">Reset</button>
          <button mat-button (click)="onSubmit()">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
