<section class="ttm-row pricing-plan-section services-pricing-plan-section clearfix">
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <!-- section title -->
        <div class="section-title text-center clearfix">
          <div class="title-header">
            <h5>What We Plan</h5>
            <h2 class="title">Our Plans &amp; Price</h2>
          </div>
          <div class="title-desc">
            <p>We have set different meal plans for our clients. They can choose any of them from our services as per their convenient price..
            </p>
          </div>
        </div><!-- section title end -->
      </div>
    </div><!-- row end -->
    <div class="row text-center m-0 res-1199-mlr-15">
      <div class="col-md-4 p-0">
        <!--ttm-pricing-plan-->
        <div class="ttm-pricing-plan clearfix">
          <div class="ttm-ptablebox-title"><h3>Basic</h3></div>
          <div class="ttm-ptablebox-price-w">
            <div class="ttm-ptablebox-price">15.99$</div>
            <div class="ttm-ptablebox-cur-symbol-after"></div>
            <div class="ttm-ptablebox-frequency">per month</div>
            <div class="ttm-ptablebox-desc">With 7 Days Free Trial</div>
          </div>
          <div class="ttm-ptablebox-content">
            <div class="ttm-ptablebox-features">
              <ul class="ttm-feature-lines">
                <li>24 H support</li>
                <li>Bussiness Anaylising</li>
                <li>Custom Managements</li>
                <li>Complete Documentation</li>
                <li>Working Materials Format</li>
              </ul>
            </div>
            <div class="price_btn">
              <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black" href="#">Order Now</a>
            </div>
          </div>
        </div><!--ttm-pricing-plan-->
      </div>
      <div class="col-md-4 p-0">
        <!--ttm-pricing-plan-->
        <div class="ttm-pricing-plan ttm-ptablebox-featured-col clearfix">
          <div class="ttm-ptablebox-title"><h3>Advance</h3></div>
          <div class="ttm-ptablebox-price-w">
            <div class="ttm-ptablebox-price">25.99$</div>
            <div class="ttm-ptablebox-cur-symbol-after"></div>
            <div class="ttm-ptablebox-frequency">per month</div>
            <div class="ttm-ptablebox-desc">With 7 Days Free Trial</div>
          </div>
          <div class="ttm-ptablebox-content">
            <div class="ttm-ptablebox-features">
              <ul class="ttm-feature-lines">
                <li>24 H support</li>
                <li>Bussiness Anaylising</li>
                <li>Custom Managements</li>
                <li>Complete Documentation</li>
                <li>Working Materials Format</li>
              </ul>
            </div>
            <div class="price_btn">
              <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor" href="#">Order Now</a>
            </div>
          </div>
        </div><!--ttm-pricing-plan-->
      </div>
      <div class="col-md-4 p-0">
        <!--ttm-pricing-plan-->
        <div class="ttm-pricing-plan clearfix">
          <div class="ttm-ptablebox-title"><h3>Standard</h3></div>
          <div class="ttm-ptablebox-price-w">
            <div class="ttm-ptablebox-price">18.99$</div>
            <div class="ttm-ptablebox-cur-symbol-after"></div>
            <div class="ttm-ptablebox-frequency">per month</div>
            <div class="ttm-ptablebox-desc">With 7 Days Free Trial</div>
          </div>
          <div class="ttm-ptablebox-content">
            <div class="ttm-ptablebox-features">
              <ul class="ttm-feature-lines">
                <li>24 H support</li>
                <li>Bussiness Anaylising</li>
                <li>Custom Managements</li>
                <li>Complete Documentation</li>
                <li>Working Materials Format</li>
              </ul>
            </div>
            <div class="price_btn">
              <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black" href="#">Order Now</a>
            </div>
          </div>
        </div><!--ttm-pricing-plan-->
      </div>
    </div>
  </div>
</section>
