<div class="row tab-row">
  <div class="col-md-12">
    <div class="ttm-tabs ttm-tabs-style-classic ttm-tabs-bgcolor-grey">
      <ul class="tabs">
        <li [ngClass]='{"tab":true,"active":clicked[i]}' *ngFor="let day of week; let i=index " (click)="showDay(i)"><a ><i class="fa fa-gift"></i><span>Day{{day}}     </span></a></li>

      </ul>

      <div class="content-tab">




        <div class="section-title text-center clearfix">
          <div class="title-header">
            <h5>Your Meals</h5>

          </div>
        </div>
        <div class="content-inner active mt-15" style="margin-bottom:50px">
          <div *ngFor="let program of nutritionalPrograms">
            <div *ngFor="let meal of program.meals">
              <app-daily-program-item-meal [meal]="meal" *ngIf="clicked[week.indexOf(program.day)]"></app-daily-program-item-meal>
            </div>
          </div>
        </div>

        <div class="section-title text-center clearfix">
          <div class="title-header">
            <h5>Your Workouts</h5>
          </div>
        </div>
        <div class="content-inner active mt-15">
          <div *ngFor="let program of sportsPrograms">
            <div *ngFor="let workout of program.workouts">
            <app-daily-program-item-workout [workout]="workout" *ngIf="clicked[week.indexOf(program.day)]"></app-daily-program-item-workout>
          </div></div>
        </div>

      </div>

    </div>
  </div>
</div>



