<!-- diet-tab-section -->
<section class="ttm-row diet-tab-section clearfix">
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <!-- section title -->
        <div class="section-title text-center clearfix">
          <div class="title-header">
            <h5>Your Weekly Program Schedule</h5>
            <h2 class="title">Nutrition Dishes And One-On-One Training Sessions</h2>
          </div>
          <div class="title-desc">
            <p>
              It is highly recommended to stick to this program and follow its steps to obtain the desired results
            </p>
          </div>
        </div><!-- section title end -->
      </div>
    </div><!-- row end -->

    <app-daily-program-list>

    </app-daily-program-list>
  </div>
</section>
<!-- diet-tab-section end -->
