
<section class="element-row element-style clearfix mt_40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="ttm-page-title-row">
          <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="title-box ttm-textcolor-white" >
                  <div class="page-title-heading ttm-textcolor-white">
                    <h1 class="title">My Workouts</h1>
                  </div><!-- /.page-title-captions -->
                  <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i> Home </a>
                                </span>
                    <span class="ttm-bread-sep"> &nbsp; : Espace coach : &nbsp; </span>
                    <span><span class="ttm-textcolor-skincolor">My Workouts</span></span>
                  </div>
                </div>
              </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-9">
            <div  class="btn btn-outline-danger" routerLink="/espace/coach/create/workout/{{id}}">Add new Workout</div>
          </div>
        </div>
        <div class="ttm-tabs ttm-tab-style-horizontal clearfix">

          <div class="content-tab">
            <div class="content-inner">
              <div class="row">
                <div class="col" *ngFor="let workout of workouts">
                  <div>
                    <div class="card green" style="height: 150px; width: 400px">
                      <div class="additional">
                        <div class="user-card">
                          <div class="points center" style="margin-top: 0px"> {{workout.burnedCalories}}
                          </div>
                          <img src="{{workout.photo}}"  class="center" style="margin-top: -20px;border-radius: 50%;width : 110px; height : 110px" alt="Avatar"/>
                        </div>
                        <div class="more-info">
                          <h3 style="font-family: Lato; margin-left: 23px">{{workout.name}}</h3>
                          <div class="coords">
                            <span>{{workout.duration}}</span>
                          </div>
                          <div class="coords">
                            <button routerLink="/espace/coach/workout/{{id}}/{{workout.id}}" class="btn btn-success" style="background-color: #92bCa6; border-color: #92bCa6">More details</button>
                          </div>
                        </div>
                      </div>
                      <div class="general" style="padding-bottom: -20px">
                        <h3 style="font-family: Lato; margin-left: 60px">{{workout.name}}</h3>
                        <p style="margin-left: 50px">{{workout.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>

                    </div>
                  </div>
                </div>
                <div class="col"></div>
                <div class="w-100"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
              <mat-divider></mat-divider>
            </div>
            </div>
          </div>

</section>




