<div class="container"  *ngIf="program&&!hasSentSurvey" style="width:70%">
  <div style="background-color:white;  -moz-box-shadow:    3px 3px 5px 6px #ccc;text-align:center;-webkit-box-shadow: 3px 3px 5px 6px #ccc;box-shadow:3px 3px 5px 6px #ccc; padding:2em;margin:1em">

      <form [formGroup]="surveyForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <h2>Please Fill This Week's Survey</h2>
              </div>
            </div>
            <mat-divider style="width: 100%"></mat-divider>
            <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                <label class="myLabel">your actual Weight:</label>
                <input type="number" matInput formControlName="weight" style="width:50%" >
            </div>
            <mat-divider style="width: 100%"></mat-divider>
            <div class="row" style="margin-top: 20px">
              <label class="myLabel">Did you eat all your meals ? </label>
              <mat-radio-group formControlName="question1">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no" >No</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="row">
              <label class="myLabel">Did you stick to your diet ? </label>
              <mat-radio-group formControlName="question2">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no" >No</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="row">
              <label class="myLabel">Did you like the meals ? </label>
              <mat-radio-group formControlName="question3">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no" >No</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="row">
              <label class="myLabel">Did you complete your workout ? </label>
              <mat-radio-group formControlName="question4">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no" >No</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-divider></mat-divider>
            <div class="row" style="margin-top: 20px; padding-bottom: 20px">
              <label class="myLabel" style="margin-left:70px;">Do you have any comments ?</label>
              <textarea formControlName="comment" cols="20" rows="4"></textarea>
            </div>

            <button class="btn btn-primary" (click)="submitForm()" style="margin-top:1em">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container" *ngIf="program&&hasSentSurvey">
    <section class="error-404 bg-img3">
      <div class="ttm-big-icon ttm-textcolor-skincolor">
        <i class="fa fa-thumbs-o-up"></i>
      </div>
      <header class="page-header"><h1 class="page-title">Survey Submitted</h1></header>
      <div class="page-content"> <p>This day's survey has been successfully submitted and sent to your coach.</p></div>
      <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-border ttm-btn-color-black mb-15" href="index.html">Back To Home</a>
    </section>
  </div>
