<!-- diet-tab-section -->
<section class="ttm-row diet-tab-section clearfix">
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <!-- section title -->
        <div class="section-title text-center clearfix">
          <div class="title-header">
            <h5>What We Offers</h5>
            <h2 class="title">Nutrition Dishes</h2>
          </div>
          <div class="title-desc">
            <p>Each meal is a building block in our healthy eating style. Use our Checklist <br> and the tips below to meet your daily needs.
            </p>
          </div>
        </div><!-- section title end -->
      </div>
    </div><!-- row end -->
    <div class="row tab-row">
      <div class="col-md-12">
        <div class="ttm-tabs ttm-tabs-style-classic ttm-tabs-bgcolor-grey">
          <ul class="tabs">
            <li class="tab active"><a href="#"><i class="fa fa-gift"></i><span>Monday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Tuesday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Wednesday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Thrusday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Friday</span></a></li>
            <li class="tab"><a href="#"><i class="fa fa-gift"></i><span>Saturday</span></a></li>
          </ul>
          <div class="content-tab">
            <div class="content-inner mt-15 active" style="display: block" >
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fifteen-->
                  <div class="col-bg-img-fifteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Lunch</h5>
                    </div>
                  </div><!-- col-img-bg-img-fifteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Everything you need to eat for Lunch</h5>
                      <p>Healthy people eat salad for lunch, but they don’t munch iceberg lettuce day in and day out. Plenty of proteins and fresh veggies needed to keep it interesting.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-sixteen-->
                  <div class="col-bg-img-sixteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Dinner</h5>
                    </div>
                  </div><!-- col-img-bg-img-sixteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>What Should You Eat for Dinner</h5>
                      <p>Dinner must very light and have before 2-3 hours you fall asleep. Take Less protein, low sodium, and fewer carbs, less fat and kind of easy to digest food.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-inner mt-15" style="display: none">
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fifteen-->
                  <div class="col-bg-img-fifteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Lunch</h5>
                    </div>
                  </div><!-- col-img-bg-img-fifteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Everything you need to eat for Lunch</h5>
                      <p>Healthy people eat salad for lunch, but they don’t munch iceberg lettuce day in and day out. Plenty of proteins and fresh veggies needed to keep it interesting.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-sixteen-->
                  <div class="col-bg-img-sixteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Dinner</h5>
                    </div>
                  </div><!-- col-img-bg-img-sixteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>What Should You Eat for Dinner</h5>
                      <p>Dinner must very light and have before 2-3 hours you fall asleep. Take Less protein, low sodium, and fewer carbs, less fat and kind of easy to digest food.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-inner mt-15" style="display: none">
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fifteen-->
                  <div class="col-bg-img-fifteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Lunch</h5>
                    </div>
                  </div><!-- col-img-bg-img-fifteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Everything you need to eat for Lunch</h5>
                      <p>Healthy people eat salad for lunch, but they don’t munch iceberg lettuce day in and day out. Plenty of proteins and fresh veggies needed to keep it interesting.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-sixteen-->
                  <div class="col-bg-img-sixteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Dinner</h5>
                    </div>
                  </div><!-- col-img-bg-img-sixteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>What Should You Eat for Dinner</h5>
                      <p>Dinner must very light and have before 2-3 hours you fall asleep. Take Less protein, low sodium, and fewer carbs, less fat and kind of easy to digest food.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-inner mt-15" style="display: none">
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fifteen-->
                  <div class="col-bg-img-fifteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Lunch</h5>
                    </div>
                  </div><!-- col-img-bg-img-fifteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Everything you need to eat for Lunch</h5>
                      <p>Healthy people eat salad for lunch, but they don’t munch iceberg lettuce day in and day out. Plenty of proteins and fresh veggies needed to keep it interesting.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-sixteen-->
                  <div class="col-bg-img-sixteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Dinner</h5>
                    </div>
                  </div><!-- col-img-bg-img-sixteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>What Should You Eat for Dinner</h5>
                      <p>Dinner must very light and have before 2-3 hours you fall asleep. Take Less protein, low sodium, and fewer carbs, less fat and kind of easy to digest food.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-inner mt-15" style="display: none">
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fifteen-->
                  <div class="col-bg-img-fifteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Lunch</h5>
                    </div>
                  </div><!-- col-img-bg-img-fifteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Everything you need to eat for Lunch</h5>
                      <p>Healthy people eat salad for lunch, but they don’t munch iceberg lettuce day in and day out. Plenty of proteins and fresh veggies needed to keep it interesting.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-sixteen-->
                  <div class="col-bg-img-sixteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Dinner</h5>
                    </div>
                  </div><!-- col-img-bg-img-sixteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>What Should You Eat for Dinner</h5>
                      <p>Dinner must very light and have before 2-3 hours you fall asleep. Take Less protein, low sodium, and fewer carbs, less fat and kind of easy to digest food.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-inner mt-15" style="display: none">
              <div class="row no-gutters mt-50 box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-sixteen-->
                  <div class="col-bg-img-sixteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Dinner</h5>
                    </div>
                  </div><!-- col-img-bg-img-sixteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>What Should You Eat for Dinner</h5>
                      <p>Dinner must very light and have before 2-3 hours you fall asleep. Take Less protein, low sodium, and fewer carbs, less fat and kind of easy to digest food.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row panel-row">
      <div  id="accordion" class="panel-group width-100">
        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1"  data-parent="#accordion"><i class="fa fa-gift"></i><span>Monday</span></a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse2"  data-parent="#accordion"><i class="fa fa-gift"></i><span>Tuesday</span></a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse3" data-parent="#accordion"><i class="fa fa-gift"></i><span>Wednesday</span></a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse4" data-parent="#accordion"><i class="fa fa-gift"></i><span>Thrusday</span></a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><i class="fa fa-gift"></i><span>Friday</span></a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><i class="fa fa-gift"></i><span>Saturday</span></a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row no-gutters box-shadow1">
                <div class="col-md-6">
                  <!-- col-img-bg-img-fourteen-->
                  <div class="col-bg-img-fourteen ttm-col-bgimage-yes ttm-bg res-767-pb-300">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5 class="text-center tab-inner-heading">Break Fast</h5>
                    </div>
                  </div><!-- col-img-bg-img-fourteen end-->
                </div>
                <div class="col-md-6">
                  <div class="ttm-bg ttm-bgcolor-white ttm-col-bgcolor-yes spacing-10">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                      <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                      <h5>Plate of veggies and fruits for starter</h5>
                      <p>Vegetable &amp; fruit are full of nutrients that support good health. Fruits and red, orange, and dark-green veggies such as tomatoes, and the sweet potatoes and broccoli.</p>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-black mt-10 mb-20" href="#">organic</a>
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-round  ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10 ml-15 mb-20" href="#">Fresh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- diet-tab-section end -->
