

<div style="background-color:white;  -moz-box-shadow:    3px 3px 5px 6px #ccc;-webkit-box-shadow: 3px 3px 5px 6px #ccc;box-shadow:3px 3px 5px 6px #ccc; padding:2em;margin:1em">



  <article class="hrecipe">

    <header class="entry-header">

      <div class="entry-header-inner">
        <h1 class="title recipe-title fn" style="font-family:prata" itemprop="name">{{meal?.name}}</h1>








        <div class="author-byline brief">
          <div class="name-contact">
            <span class="author-name" style="font-size:20px">
              Coach:  {{coachName}}
            </span>
          </div>
        </div>




      </div>


      <figure class="recipe-main-photo thumb-large">



















        <div class="ad-wrapper">

          <div class="auto-ad" id="entry-sponsor-logo" style="display: none;" data-skip-amazon="true" data-require-tag-match="true" data-ad-tag="__amazon,__dorado,__egg-guide,__fathers-day-breakfast-brunch,__mothers-day-breakfast-brunch,__quick-breakfast,__video,breakfast,comfort,egg" data-ad-mapping="logo_mapping" data-ad-size="[[120,100], [120,185]]" data-ad-unit="SE_Logo" data-google-query-id="CN3O5vGO1uYCFY3R1QodJq4AfQ"><div id="google_ads_iframe_/11927475/SE_Logo_0__container__" style="border: 0pt currentColor; border-image: none; width: 120px; height: 100px;"></div></div>
        </div>


        <div class="se-pinit-image-container">
          <img class="img-fluid" style="width:50%;height:50%" alt="Soft-Scrambled Eggs Recipe" src="{{meal?.photo}}" itemprop="image" data-pin-no-hover="true">
        </div>
      </figure>

    </header>
    <div class="recipe-body summary">
      <div class="recipe-introduction" id="entry-text">

        <div class="recipe-introduction-body" itemprop="description">
          <h2 class="title-section" style="display:inline">Description:    </h2>
          <p style="display:inline">{{meal?.description}}</p>


        </div>

      </div>


      <div class="recipe-wrapper">

        <ul class="recipe-about">
          <li><span class="label">Total Calories: </span><span class="info yield" itemprop="recipeYield">{{meal?.caloricValue}}</span></li>
          <li>
            <span class="label">Preparation Time</span>
            <span class="info">{{meal?.preparationTime}}</span>
          </li>
          <li><span class="label">Hour: </span><span class="info"> {{meal?.time}} </span></li>

        </ul>

        <div class="recipe-ingredients">
          <h2 class="title-section">Ingredients</h2>
          <ul *ngIf="ingredients">
            <li class="ingredient" itemprop="ingredients" *ngFor="let ingredient of ingredients">{{ingredient}}</li>

          </ul>
        </div><!--/ingredients-->

        <div class="recipe-procedures">
          <h2 class="title-section">Directions</h2>
          <ol class="recipe-procedures-list instructions" itemprop="recipeInstructions">
            <li class="recipe-procedure">
              <div class="recipe-procedure-number checked">1.</div>
              <div class="recipe-procedure-text">
                <p><p>{{meal?.recipe}}</p><p></p>
              </div>
            </li>
          </ol>
        </div><!--procedure-->

      </div>


      <button class="btn btn-primary btn-lg" routerLink="/espace/coach/update/meal/{{coachId}}/{{mealId}}">Update</button>

    </div>

  </article>

</div>
<button class="btn btn-secondary btn-lg" routerLink="/espace/coach/meals/{{coachId}}">Back</button>





