<section class="ttm-row about2-top-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="pr-10 mb-35 res-991-pr-0">
          <!-- ttm_single_image-wrapper -->
          <div class="ttm_single_image-wrapper res-991-mt-60">
            <div class="text-left">
              <img class="img-fluid width-100" src="../../../assets/images/single-img-eight.jpg" alt="">
            </div>
          </div><!-- ttm_single_image-wrapper end -->
          <div class="about-overlay-shape">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10 text-center">
                <div class="about-content ttm-col-bgcolor-yes ttm-bg ttm-bgcolor-skincolor spacing-8 mt_60 ttm-textcolor-white">
                  <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                  <div class="layer-content">
                    <h4 class="mb-5">Our Main Office</h4>
                    <p>123 4 TrunPrike Drive Athens Al 35613</p>
                  </div>
                </div><!-- ttm_single_image-wrapper end -->
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="pl-5 res-991-pl-0">
          <!-- section title -->
          <div class="section-title clearfix">
            <div class="title-header">
              <h5>about nutrition</h5>
              <h2 class="title">We Are Nice People With <br> A Lot Of Experience</h2>
            </div>
            <div class="title-desc">
              <p>Through our integrative approach, we bring together a team of nutritionists and the health-care professionals from a broad range of disciplines, combining years of an experience, diverse specialties, and wealth of knowledge plus experience.</p>
            </div>
          </div><!-- section title end -->
          <!-- row-->
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <!-- featured-imagebox-->
              <div class="featured-imagebox ttm-box-view-top-image">
                <div class="featured-thumbnail"><!-- featured-thumbnail-->
                  <img class="img-fluid" src="../../../assets/images/single-img-twel.jpg" alt="">
                </div>
                <div class="ttm-box-bottom-content"><!-- featured-content-->
                  <div class="featured-title featured-title">
                    <h5 class="pt-15 mb-10">Personalized Nutrition</h5>
                  </div>
                  <div class="featured-desc">
                    <p>To know where our bodies are and to maintain the desired positions.</p>
                  </div>
                </div>
              </div><!-- featured-imagebox end-->
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- featured-imagebox-->
              <div class="featured-imagebox ttm-box-view-top-image">
                <div class="featured-thumbnail"><!-- featured-thumbnail-->
                  <img class="img-fluid" src="../../../assets/images/single-img-thirteen.jpg" alt="">
                </div>
                <div class="ttm-box-bottom-content"><!-- featured-content-->
                  <div class="featured-title featured-title">
                    <h5 class="pt-15 mb-10">Best Fitness</h5>
                  </div>
                  <div class="featured-desc">
                    <p>Once you grasp a workout routine, you will get it is not too a difficult.</p>
                  </div>
                </div>
              </div><!-- featured-imagebox end-->
            </div>
          </div><!-- row end-->
        </div>
      </div>
    </div><!-- row end -->
  </div>
</section>
